<div class="page-header">
  <div class="page-title-group">
    <h1>Academias</h1>
    <p>Gerencie as Academias</p>
  </div>
</div>

<!-- HEADER -->
<div class="academias-page">
  <div class="academia-grid">
    <div class="empty-state" *ngIf="!academias || academias.length === 0">
      <i class="fa-solid fa-user-slash"></i>
      <p>Nenhuma academia cadastrada</p>
    </div>
    <div class="academia-card" *ngFor="let academia of academias">
      <!-- MENU -->
      <div class="card-menu">
        <button class="menu-btn" (click)="toggleMenu(academia, $event)">
          <i class="fa-solid fa-ellipsis"></i>
        </button>

        <div class="menu-dropdown" *ngIf="academia.menuAberto">
          <button *ngIf="editarId !== academia.id" --(click)="editarAcademia(academia)">
            <i class="fa-solid fa-pen"></i>
            Editar
          </button>

          <button *ngIf="editarId === academia.id" --(click)="salvarEdicao(academia)">
            <i class="fa-solid fa-check"></i>
            Salvar
          </button>

          <button class="danger" (click)="excluirAcademia(academia.id)">
            <i class="fa-solid fa-trash"></i>
            Excluir
          </button>
        </div>
      </div>

      <!-- HEADER CENTRALIZADO -->
      <div class="card-header-center">
        <div class="avatar">
          {{ getInicial(academia.nome) }}
        </div>

        <div class="academia-title">
          <span *ngIf="editarId !== academia.id">
            {{ academia.nome }}
          </span>

          <input *ngIf="editarId === academia.id" [(ngModel)]="nome" class="edit-input" />
        </div>
      </div>

      <!-- BODY -->
      <div class="card-body">
        <div class="info-grid">
          <div class="info-item">
            <i class="fa-solid fa-building"></i>
            <span>{{ academia.nome }}</span>
          </div>          

          <div class="info-item">
            <i class="fa-solid fa-phone"></i>
            <span>{{ academia.telefone }}</span>
          </div>

          <div class="info-item">
            <i class="fa-solid fa-envelope"></i>
            <span>{{ academia.email }}</span>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="card-footer">
        <span class="alunos-count">
          <i class="fa-solid fa-users"></i>
          {{ academia.totalAlunos || 0 }} alunos
        </span>

        <span
          class="status clickable"
          [class.ativo]="academia.ativo"
          [class.inativo]="!academia.ativo"
          (click)="toggleStatus(academia)"
        >
          {{ academia.ativo ? 'Ativo' : 'Inativo' }}
        </span>
      </div>
    </div>
    </div>
  </div>

  <!-- BOTÃO FLUTUANTE -->

  <button class="floating-add" (click)="openModalNovaAcademia(templateNovaAcademia)">
    <i class="fa-solid fa-plus"></i>
    <span class="fab-text"> Novo Academia </span>
  </button>

  <ng-template #templateNovaAcademia>
    <div class="modal-content">
      <div class="modal-header">
        <h4>Nova Academia</h4>

        <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <label>Nome da Academia</label>

          <div class="input-modern">
            <i class="fa-solid fa-user"></i>
            <input [(ngModel)]="nome" />
          </div>
        </div>

        <div class="form-row contato">
          <div class="input-group">
            <label>Cidade</label>

            <div class="input-modern">
              <i class="fa-solid fa-city"></i>
              <input [(ngModel)]="cidade" />
            </div>
          </div>

          <div class="input-group">
            <label>Email</label>

            <div class="input-modern">
              <i class="fa-solid fa-envelope"></i>
              <input [(ngModel)]="email" name="email" />
            </div>
          </div>

          <div class="input-group">
            <label>Rede Social</label>

            <div class="input-modern">
              <i class="fa-solid fa-globe"></i>
              <input [(ngModel)]="redeSocial" name="redeSocial" />
            </div>
          </div>
        </div>

        <!-- TELEFONE + RESPONSÁVEL -->

        <div class="form-row telefone-responsavel">
          <div class="input-group telefone">
            <label>Telefone</label>

            <div class="input-modern">
              <i class="fa-solid fa-phone"></i>
              <input [(ngModel)]="telefone" name="telefone" />
            </div>
          </div>

          <div class="input-group responsavel">
            <label>Responsável</label>

            <div class="input-modern">
              <i class="fa-solid fa-user"></i>
              <input [(ngModel)]="responsavel" name="responsavel" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="modalRef?.hide()">Cancelar</button>

      <button class="btn-save" (click)="salvarNovaAcademia()">Salvar</button>
    </div>
  </ng-template>

  <ng-template #templateEditarAcademia>
    <div class="modal-content">
      <div class="modal-header">
        <h4>Editar Academia</h4>

        <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <label>Nome da Academia</label>

          <div class="input-modern">
            <i class="fa-solid fa-user"></i>
            <input [(ngModel)]="nome" />
          </div>
        </div>

        <div class="form-row contato">
          <div class="input-group">
            <label>Cidade</label>

            <div class="input-modern">
              <i class="fa-solid fa-city"></i>
              <input [(ngModel)]="cidade" />
            </div>
          </div>

          <div class="input-group">
            <label>Email</label>

            <div class="input-modern">
              <i class="fa-solid fa-envelope"></i>
              <input [(ngModel)]="email" name="email" />
            </div>
          </div>

          <div class="input-group">
            <label>Rede Social</label>

            <div class="input-modern">
              <i class="fa-solid fa-globe"></i>
              <input [(ngModel)]="redeSocial" name="redeSocial" />
            </div>
          </div>
        </div>

        <!-- TELEFONE + RESPONSÁVEL -->

        <div class="form-row telefone-responsavel">
          <div class="input-group telefone">
            <label>Telefone</label>

            <div class="input-modern">
              <i class="fa-solid fa-phone"></i>
              <input [(ngModel)]="telefone" name="telefone" />
            </div>
          </div>

          <div class="input-group responsavel">
            <label>Responsável</label>

            <div class="input-modern">
              <i class="fa-solid fa-user"></i>
              <input [(ngModel)]="responsavel" name="responsavel" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="modalRef?.hide()">Cancelar</button>

      <button class="btn-save" (click)="salvarNovaAcademia()">Salvar</button>
    </div>
  </ng-template>


<ng-template #templateExcluirAcademia>
  <div class="modal-content modal-surface">
    <div class="modal-header">
      <h5 class="modal-title">Excluir Academia</h5>

      <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
    </div>

    <div class="modal-body">
      <p class="modal-text">Deseja realmente excluir essa academia?</p>

      <small class="modal-subtext"> Esta ação não pode ser desfeita. </small>
    </div>

    <div class="modal-footer modal-actions">
      <button type="button" class="btn-cancel" (click)="modalRef?.hide()">
        Sim Excluir
      </button>

      <button type="button" class="btn-save" (click)="confirmarCancelarEdicao()">
       Não Quero Excluir
      </button>
    </div>
  </div>
</ng-template>
