<div class="layout">
  <!-- SIDEBAR -->
  <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
    <div class="sidebar-header">
      <span class="logo-text" *ngIf="!sidebarCollapsed"> MartialArtsSys </span>

      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

    <nav>
      <a routerLink="/dashboard">
        <i class="fa-solid fa-chart-line"></i>
        <span *ngIf="!sidebarCollapsed">Dashboard</span>
      </a>

      <div class="menu-item" (click)="toggleCadastro()">
        <div class="menu-link">
          <div class="menu-left">
            <i class="fa-solid fa-user-gear"></i>
            <span *ngIf="!sidebarCollapsed">Cadastros</span>
          </div>

          <!-- seta -->
          <i
            *ngIf="!sidebarCollapsed"
            class="fa-solid fa-chevron-down arrow"
            [class.open]="cadastroOpen"
          >
          </i>
        </div>
      </div>

      <!-- SUBMENU -->
      <div class="submenu" *ngIf="cadastroOpen && !sidebarCollapsed">
        <a *ngIf="isAdmin()" routerLink="/academias">
          <i class="fa-solid fa-user"></i>
          <span *ngIf="!sidebarCollapsed" routerLinkActive="active">Academias</span>
        </a>

        <a routerLink="/alunos">
          <i class="fa-solid fa-circle-user"></i>
          <span>Alunos</span>
        </a>

        <a routerLink="/matriculas">
          <i class="fa-solid fa-money-bills"></i>
          <span>Matriculas</span>
        </a>

        <a routerLink="/professores">
          <i class="fa-solid fa-chalkboard-user"></i>
          <span>Professores</span>
        </a>

        <a routerLink="/modalidades">
          <i class="fa-solid fa-dumbbell"></i>
          <span>Modalidades</span>
        </a>
      </div>

      <div class="menu-item" (click)="toggleFinanceiro()">
        <div class="menu-link">
          <i class="fa-solid fa-money-bill"></i>
          <span *ngIf="!sidebarCollapsed">Gestão Financeira</span>

          <!-- seta -->
          <i
            *ngIf="!sidebarCollapsed"
            class="fa-solid fa-chevron-down arrow"
            [class.open]="financeiroOpen"
          >
          </i>
        </div>
      </div>

      <!-- SUBMENU -->
      <div class="submenu" *ngIf="financeiroOpen && !sidebarCollapsed">
        <a routerLink="/planos">
          <i class="fa-solid fa-layer-group"></i>
          <span>Planos</span>
        </a>

        <a routerLink="/pagamentos">
          <i class="fa-solid fa-credit-card"></i>
          <span>Condições de Pagamentos</span>
        </a>

        <a routerLink="/financeiro">
          <i class="fa-solid fa-chart-line"></i>
          <span>Fluxo de Caixa</span>
        </a>
      </div>

      <a *ngIf="isAdmin()" routerLink="/usuarios">
        <i class="fa-solid fa-users"></i>
        <span *ngIf="!sidebarCollapsed" routerLinkActive="active">Usuários</span>
      </a>
    </nav>
  </aside>

  <div class="main">
    <!-- TOPBAR -->

    <header class="topbar">
      <div class="topbar-title">
        {{ academiaNome }}
      </div>

      <div class="topbar-right">
        <i class="fa-solid fa-bell"></i>

        <!-- USUÁRIO -->
        <div class="user-info">
          <div class="user-text">
            <span class="user-name">{{ userName }}</span>
            <span class="user-academia">{{ academiaNome }}</span>
          </div>

          <div class="avatar">
            {{ userName?.charAt(0) }}
          </div>
        </div>

        <!-- LOGOUT -->
        <button class="btn-logout" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
